body {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.game-container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  border: 2px solid #333;
  overflow: hidden;
  background-image: url('goal.png');
  background-size: cover;
  background-position: center;
}

.goalkeeper {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  background-image: url('keeper.png');
  background-size: cover;
  background-position: center;
}

.ball {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-image: url('ball.png');
  background-size: cover;
  background-position: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 25px;
}

#next-button {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


p {
  margin-top: 0px;
  font-weight: bold;
  font-size: 100px;
}
